.header {
  background-color: var(--secondary-color);
  padding: 1.6rem;

  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  border-radius: 0 0 50% 50%;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.header__nav__link {
  font-size: 1.3rem;
}
