.generations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.generations__item {
  background-color: #000;
  padding: 1rem;
  margin: 1rem auto;

  text-align: left;
  font-size: 1rem;
}

.generations__item__title {
  text-transform: capitalize;
  margin: 1.5rem auto;
  text-align: center;
}
