.hero {
  display: grid;
  gap: 2rem;
  grid-template-columns: 60% 30%;
  place-items: center;

  padding: 1rem 0;
}

.hero__image {
  width: 100%;
  transform: translateX(10%);
  opacity: 0;
  animation: enterInView 1s ease 0.4s 1 forwards;
}

.hero__main {
  transform: translateX(-10%);
  opacity: 0;
  animation: enterInView 1s ease 0.1s 1 forwards;
}

.hero__main__title {
  margin: 3rem auto 2rem;
  font-size: 5rem;
}

.hero__main__title :nth-child(1) {
  color: var(--terciary-color);
}

.hero__main__subtitle {
  margin: 2rem auto;
  font-size: 3rem;
  max-width: 30ch;
}

@media screen and (max-width: 1200px) {
  .hero {
    grid-template-columns: 100%;
  }
}

@keyframes enterInView {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
