:root {
  --primary-color: #111;
  --secondary-color: #005547;
  --terciary-color: #00896d;
  --complement-color: #dff6ff;
  --text-white: #eee;

  font-size: 16px;
  line-height: 1.8;

  font-family: Epilogue, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

:where(*, ::after, ::before)::selection {
  background-color: var(--terciary-color);
  color: var(--complement-color);
}

*,
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  max-width: 1200px;
  margin: auto;

  background-color: var(--primary-color);
  color: var(--text-white);
}

html,
body {
  overflow-x: hidden;
}

main {
  padding: 1rem;
}

a {
  color: #ccc;
  text-decoration: none;

  transition: color 0.3s ease-in-out;
}

a:hover {
  color: var(--text-white);
  text-decoration: underline;
}

button {
  padding: 1rem 2rem;

  font-size: 1.2rem;
  color: var(--text-white);
  background-color: var(--secondary-color);

  border-radius: 5px;
  border: none;

  transition: background-color 0.3s ease-out;
}

button:hover {
  background-color: var(--terciary-color);
}

p {
  margin: 1rem auto;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 12px;
    line-height: 1.6;
  }
}
