.generationSlice {
  position: relative;

  padding: 1rem;

  white-space: pre-wrap;

  color: #eee;
  transition: color 0.3s ease-out;

  border-radius: 5px;
}

.generationSlice__loadingPgph {
  color: #bbb;
}

.generationSlice:hover {
  color: #fff;

  outline: 1px dotted #fff;
}

.generationSlice:hover span[role="toolbar"] {
  display: flex;
}

.generationSlice__pgph {
  transition: color 0.3s ease-out;
}

.generationSlice__newPgphContainer {
  transition: color 0.3s ease-out;
  color: #00ff00;
}

.generationSlice__newPgphContainer__navbar {
  margin: 2rem auto 1rem;
  display: flex;
  align-content: center;
  gap: 1rem;
}

.generationSlice__newPgphContainer__navbar button {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.6rem;
}

.generationSlice:has(
    .generationSlice__newPgphContainer__navbar__discardChangesBtn:hover
  )
  .generationSlice__newPgphContainer {
  color: #222;
}

.generationSlice:has(
    .generationSlice__newPgphContainer__navbar__acceptChangesBtn:hover
  )
  .generationSlice__pgph {
  color: #222;
}

.generationSlice:has(
    .generationSlice__newPgphContainer__navbar__acceptChangesBtn:hover
  )
  .generationSlice__newPgphContainer {
  color: inherit;
}
